
=====================================
Visual Studio / MonoDevelop generated
=====================================
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
*.unityproj
*.booproj
Packages

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


*.meta~*

/.vs


*.opensdf
*.sdf
*.tlog
*.ipch
*.exp
*.pch
*.lastbuildstate
*.log
*.pdb
*.ipdb
*.iobj
*.idb
*.lnk
*.VC.db
*.VC.opendb
/temp.dat

/temp
/UDSoftHaptic.udlog
/x64
/map_tet_shell.txt
/SubResult.txt
/1.bat
/1.txt
/mapTriVertIndexToPartIndex.txt
/partTetMap.txt
/partTetVertMap.txt
/partTriVertMap.txt
/tetMapFile.txt
/tetVertMapFile.txt
/partSpringMap.txt
/validate/sharedTetNum.txt
/validate/tetSpringIdx.txt
/validate/*.txt
/PDHaptic.udlog
/PDHaptic.vcxproj.user
/ddirFile.txt
/tetVertDDir.txt
/run.bat
/haptic_time.csv
*.csv
/SoftSim/test_quaternion.cpp
/bin/SoftHaptic.exe
/data/softdeformation__sf.bin
/data/livernew.bin
/data/livernew.msh
/data/livernew.obj
